* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header .container {
    padding: 20px 5%;
    max-width: 100%;
    margin: 0 auto;
    /* max-width: 1200px; */
}


header {
    background-color: #9a9ca4;
}

header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .navbar .menu a {
    display: none;
}



header .navbar .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



header .navbar .navbar-nav .nav-item .active {
    background-color: #fa7161;
    color: #fff !important;
    border-radius: 10px;
}

header .navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 20px;
    padding: 13px 15px;
    display: inline-block;
}

header .navbar .navbar-nav .nav-item:hover {
    background-color: #fa7161;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 10px;
}

header .navbar .navbar-nav .nav-item:hover .nav-link {
    color: #fff;
}

header .navbar .common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

header .navbar .social-icons a {
    padding-left: 5px;
    color: #fff;
    display: block;
}

header .navbar .social-icons a i {
    font-size: 20px;
}

header .navbar .social-icons a i:hover {
    color: #fa7161;
}

.bg-Image {
    background-image: url(./home-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
}

.bg-Image .container {
    padding: 20px 5%;
}

.bg-Image .container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 150vh;
}

.bg-Image .container .content .content-text-left {
    width: 50%;
}

.bg-Image .container .content .content-text-left h1 {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    font-family: "Red Hat Display", Sans-serif;
    line-height: 80px;
}

.bg-Image .container .content .content-text-left p {
    color: #9a9ca4;
    font-size: 25px;
    line-height: 40px;
    padding: 30px 0;
}

.bg-Image .container .content .content-text-left button {
    padding: 25px 44px 25px 44px;
    border-radius: 7px;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1em;
    background-color: #fa7161;
    color: #fff;
}

.bg-Image .container .content .content-text-left button:hover {
    background-color: #fff;
    color: #fa7161;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.bg-Image .container .content .content-text-right {
    position: relative;
    top: 30%;
}

.bg-Image .container .content .content-text-right h1 {
    color: #ffffff;
    font-family: "Kalam", Sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.bg-Image .conta䁩ner .content .content-text-right p {
    color: #fff;
    font-weight: bolder;
    padding-bottom: 7px;
    font-size: 20px;
}

.bg-Image .container .content .content-text-right .coacher {
    color: #fa7161;
    font-weight: normal;
}

.section-main {
    background-color: #f5f6f8;
    width: 100%;
}


.section-main .container {
    padding: 20px 5%;
}

.section-main .container .main-content {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-main .container .main-content .section-main-content h1 {
    text-align: center;
    color: #0c0d1f;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0px;
    padding: 20px 0;
}

.section-main .container .main-content .section-main-content p {
    text-align: center;
    color: #636477;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.59em;
}

.section-main .container .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
}



footer {
    height: 100vh;
    padding-top: 80px;
    width: 100%;
}


.inner {
    background-color: #0c0d1f !important;
    padding: 140px 0px 157px 0px;
    display: flex;
    gap: 10%;
    margin-top: 60px;
    /* height: 100vh; */
}



.inner .inner-left h1 {
    color: #ffffff;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    padding-left: 20px;
    padding-bottom: 40px;
}

.inner-left p {
    color: #fa7161;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75em;
    padding-bottom: 30px;
    padding-left: 15px;
}

.inner .inner-left .inner-text {
    color: #ffffff;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.7em;
    padding-left: 15px;
}

.inner button {
    padding: 20px 40px 20px 40px;
    background-color: #fa7161;
    border-radius: 10px;
    margin-left: 18px;
}

.inner button a {
    color: #ffffff;
}

.inner-right-text p {
    text-align: left;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.33em;
}

.inner-right img {
    padding-top: 40px;
    width: 70px;
}

.inner-right-bottom {
    display: flex;
    text-align: center;
    align-items: center;
}

.inner-right-bottom h3 {
    text-align: center;
    color: #ffffff;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.364em;
    padding-left: 50px;
    padding-top: 40px;
}


footer .container {
    padding: 20px 5%;
}

footer .container .content .foot-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 50px;
}

footer .container .content .foot-top .foot-left .employees {
    display: block;
    padding: 10px 0;
    color: #fa7a6c;
}

footer .container .content .foot-top .foot-left .employees:hover {
    color: #000;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

footer .container .content .foot-top .foot-left h2 a {
    display: block;
    color: #3d3c3c;
    font-size: 34px;
    font-weight: 800;
    width: 400px;
}

footer .container .content .foot-top .foot-left h2 a:hover {
    color: #fa7a6c;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

footer .container .content .foot-top .foot-right .right-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 120px;
}

footer .container .content .foot-top .foot-right .right-ul ul h2 {
    color: #0c0d1f;
    font-family: "Red Hat Display", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3em;
}

footer .container .content .foot-top .foot-right .right-ul ul li {
    padding: 3px 0;
}

footer .container .content .foot-top .foot-right .right-ul ul li a {
    font-size: 19px;
    line-height: 2em;
    color: #6f6f70;
}

footer .container .content .foot-top .foot-right .right-ul ul li a:hover {
    color: #fa7a6c;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

footer .container .content .foot-h2 .signup {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer .container .content .foot-h2 input {
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px;
    width: 75%;
}

footer .container .content .foot-h2 input:focus {
    outline: none;
}

footer .container .content .foot-h2 button {
    border: none;
    color: #fa7a6c;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    font-size: 19px;
    font-weight: 600;
}

footer .container .content .foot-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 100px;
}

footer .container .content .foot-bottom .foot-text {
    width: 30%;
}

footer .container .content .foot-bottom .foot-text p a {
    color: #fa7a6c;
}

footer .container .content .foot-bottom .foot-text p {
    color: black;
}

footer .container .content .foot-bottom .foot-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

footer .container .content .foot-bottom .foot-icon a {
    color: #000;
    font-size: 22px;
}

footer .container .content .foot-bottom .foot-icon a:hover {
    color: #fa7a6c;
    -webkit-transition: all .6s;
    transition: all .6s;
}

/* MEDIA QUERY */


@media only screen and (max-width: 600px) {
    #header {
        width: 100%;
    }

    .navbar .logo img {
        display: none;
    }

    header .navbar .navbar-nav {
        display: none;
    }

    header .navbar .social-icons {
        display: none;
    }

    .bg-Image {
        background-image: none;
        background-color: #0D0F20;
    }

    .bg-Image .container .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: self-start;
        flex-direction: column;
        justify-content: center;
    }

    .bg-Image .container .content .content-text-left {
        width: 100%;
    }

    .bg-Image .container .content .content-text-left h1,
    p.button {
        width: 100%;
    }

    .bg-Image .container .content .content-text-right {
        position: static;
        padding-top: 30px;
    }

    .inner {
        background-color: #0c0d1f !important;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10%;
    }

    .inner-right-text p {
        text-align: left;
        color: #ffffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.33em;

    }

    .inner button {
        margin: 10px 0;
        background-color: #fa7161;
        border-radius: 10px;
        margin-left: 0px;
    }

    .inner .inner-left h1 {
        font-weight: 100;
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .inner-right-bottom h3 {
        padding-left: 20px;
        padding-top: 40px;

    }

    .inner-right-text p {
        padding-top: 40px;
    }


    footer .container .content .foot-top {
        flex-direction: column;
    }

    .foot-left iframe {
        width: 100%;
    }

    footer .container .content .foot-top .foot-right .right-ul {
        flex-direction: column;
        gap: 15px;
    }

    header .navbar .menu a {
        display: block;
    }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

    #header {
        width: 100%;
    }

    .navbar .logo img {
        display: none;
    }

    header .navbar {
        padding-right: 50px;
    }

    header .navbar .social-icons {
        display: none;
    }

    .bg-Image .container .content .content-text-left h1 {
        font-size: 45px;
    }

    .bg-Image .container .content .content-text-left p {
        font-size: 20px;
    }

    .bg-Image .container .content .content-text-right h1 {
        display: none;
    }

    .bg-Image .container .content .content-text-right h1,
    .coacher {
        display: none;
    }

    .bg-Image .container .content .content-text-left button {
        padding: 15px 32px 15px 32px;
        border-radius: 7px;
        font-size: 16px;
    }

    .inner .inner-left p {
        padding-left: 15px;
    }

    .inner .inner-left .inner-text {
        padding-left: 15px;
    }



    .foot-left iframe {
        width: 100%;
    }

    footer .container .content .foot-top .foot-right .right-ul {
        flex-direction: column;
        gap: 15px;
    }

    footer .container .content .foot-top .foot-left h2 a {
        padding-bottom: 20px;
    }

    footer .container .content .foot-top {
        flex-direction: column;

    }

    .foot-left iframe {
        width: 100%;
    }

    footer .container .content .foot-top .foot-right .right-ul {
        flex-direction: column;
        gap: 15px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    #header {
        width: 100%;
    }


    .foot-left iframe {
        width: 100%;
    }

    footer .container .content .foot-top .foot-right .right-ul {
        flex-direction: column;
        gap: 15px;
    }

    footer .container .content .foot-top .foot-left h2 a {
        padding-bottom: 20px;
    }

    footer .container .content .foot-top {
        flex-direction: column;

    }

    .foot-left iframe {
        width: 100%;
    }

    footer .container .content .foot-top .foot-right .right-ul {
        flex-direction: column;
        gap: 15px;
    }

}